<?xml version="1.0"?>
<config>
  <modules>
    <Lokman_AsiaPay>
      <version>0.1.0</version>
    </Lokman_AsiaPay>
  </modules>
  <global>
    <helpers>
      <asiapay>
        <class>Lokman_AsiaPay_Helper</class>
      </asiapay>
    </helpers>
	<blocks>
	  <asiapay>
		<class>Lokman_AsiaPay_Block</class>
	  </asiapay>
	</blocks>
	<models>
	  <asiapay>
		<class>Lokman_AsiaPay_Model</class>
		<resourceModel>asiapay_mysql4</resourceModel>
	  </asiapay>
	  <asiapay_mysql4>
		<class>Lokman_AsiaPay_Model_Mysql4</class>
		<entities>		  
			  <asiapay>
				<table>asiapay_ref</table>
			  </asiapay>
        </entities>
	  </asiapay_mysql4>
	</models>
	<resources>
	  <asiapay_setup>
		<setup>
		  <module>Lokman_AsiaPay</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </asiapay_setup>
	  <asiapay_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </asiapay_write>
	  <asiapay_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </asiapay_read>
	  <salesattribute1457171876_setup>
		<setup>
		  <module>Lokman_AsiaPay</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1457171876_setup>
	  <salesattribute1457171876_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1457171876_write>
	  <salesattribute1457171876_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1457171876_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <asiapay>
	    <use>admin</use>
		<args>
		  <module>Lokman_AsiaPay</module>
		  <frontName>admin_asiapay</frontName>
		</args>
	  </asiapay>
	</routers>
  </admin>
    <default>
        <payment>
            <asiapay>
                <active>1</active>
                <model>asiapay/method_asiapay</model>
                <order_status>pending</order_status>
                <title>Asia Pay</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </asiapay>
        </payment>
    </default>
    <frontend>
        <routers>
            <asiapay>
                <use>standard</use>
                <args>
                    <module>Lokman_AsiaPay</module>
                    <frontName>asiapay</frontName>
                </args>
            </asiapay>
            <checkout>
                <args>
                    <modules>
                        <opc before="Mage_Checkout_MultishippingController">Lokman_AsiaPay_Checkout</opc>
                    </modules>
                </args>
            </checkout>
        </routers>
        <!--<layout>-->
            <!--<updates>-->
                <!--<asiapay>-->
                    <!--<file>asiapay.xml</file>-->
                <!--</asiapay>-->
            <!--</updates>-->
        <!--</layout>-->
    </frontend>
  <adminhtml>
	<menu>
	  <asiapay module="asiapay">
		<title>AsiaPay</title>
		<sort_order>100</sort_order>
		<children>
		  <asiapay module="asiapay">
		    <title>Manage Asiapay</title>
			<sort_order>0</sort_order>
			<action>admin_asiapay/adminhtml_asiapay</action>
		  </asiapay>
		</children>
	  </asiapay>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<asiapay translate="title" module="asiapay">
			  <title>AsiaPay</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <asiapay translate="title">
			<title>Manage Asiapay</title>
			<sort_order>0</sort_order>
		  </asiapay>
			  </children>
			</asiapay>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<asiapay>
		  <file>asiapay.xml</file>
		</asiapay>
	  </updates>
	</layout>
  </adminhtml>
</config> 